:root {
    --white-100: #FFFFFF;
    --white-200: #f5f5f5;

    --gray-100: #dfdfdf;

    --grenn-500: #658864;

    --gray-900: #303030;

    --black-100: #000000;
}

body {
    background-color: var(--white-200);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, span, p, button, input, div {
    font-family: 'Roboto', sans-serif;
}